/* Top nav bar  */
.topNav {
    position: absolute;
    width: 100%;
    background: linear-gradient(180deg, black, transparent);
    z-index: 10;
}

.nav__logo {
    width: 100px;
    transition: .3s linear;
}
.nav__logo:hover{
    /* font-size: ; */
    width: 105px;
}

select {
    background: rgba(0, 0, 0, .4);
    border: 1px solid #aaa;
    color: #fff;
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 20px;
}

.navbar .btn {
    background-color: rgb(255, 55, 0);
    color: white;
    width: 100px;
    font-weight: 500;
    transition: .2s linear;
    box-shadow: black 1px 1px 10px 5px;
}

.navbar .btn:hover {
    box-shadow: none;
}

/* home banner */
.home-banner {
    height: 100vh;
    overflow: hidden;
}

.home-banner h1 {
    font-size: 3.125rem;
}

.home-banner h2 {
    font-size: 1.625rem;
}

.shadow {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}

.our-story {
    position: absolute;
    color: white;
    text-align: center;
    top: 35%;
    width: 600px;
    left: calc(50% - 300px);
    z-index: 1;
    /* border: 2px solid red; */
}

.input-group .input-box {
    width: 70%;
    height: 50px;
    border: none;
    padding-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.btn2 {
    position: relative;
    font-size: 1rem;
    width: 30%;
    height: 50px;
    cursor: pointer;
    background: transparent;
    /* border: 1px solid rgb(255, 179, 0); */
    border: none;
    font-weight: 700;
    color: wheat;
    overflow: hidden;
    background-color: rgb(255, 55, 0);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text2 {
    color: white;
    padding-right: 15px;
    transition: 4s linear;
}

.arrroicon2 {

    font-size: 1.1rem;
    font-weight: 900;
    color: white;
    margin-left: 7px;
    transition: .3s linear;
    position: relative;
    left: 0px;
}

.btn2:hover .arrroicon2 {
    color: #fff;
    position: relative;
    left: 15px;

}

/* Login Page */
.login {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login .holder {
    padding: 30px 40px;
    background-color: black;
    /* min-height: 460px; */
    width: 370px;
    position: absolute;
    z-index: 1;
    margin-top: 100px;
    border-radius: 10px;
    /* border: 2px solid red; */
}

.login .holder .login-input {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    padding-left: 15px;
    margin-top: -10px;
    margin-bottom: 30px;
    color: #fff;
}

.btn-sign-in {
    padding: 9px 118.8px;
    background-color: red;
    font-weight: 700;
    border: 2px solid red;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.btn-sign-up {
    padding: 9px 115.5px;
    background-color: red;
    font-weight: 700;
    border: 2px solid red;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.shadow {
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

img {
    max-width: 100%;
}

.form-check {
    margin-top: 22px;

}

.login-form-other .login-signup-now {
    color: #a9a9a9;
    font-size: 16px;
    font-weight: 500;
}

.register-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Banner */
.banner {
    background-image: url("https://image.tmdb.org/t/p/original//hVMoqvXs5j9ffun56tZ5YhliSD9.jpg");
    background-position: center center;
    background-size: cover;
    color: #fff;
    height: 448px;
    object-fit: contain;
    position: relative;
}

.banner_contents {
    width: 30%;
    height: 55%;
    position: absolute;
    top: 135px;
    left: 30px;
    /* border: 2px solid red; */
    position: absolute;
}

.banner_title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.banner_description {
    font-size: 16px;
    height: 80px;
    font-weight: 500;
    line-height: 24px;
    max-width: 360px;
    padding-top: 1rem;
    width: 45rem;
    transition: .3s linear;
}

.banner_contents:hover .banner_description {
    color: rgb(255, 55, 0);
}

.banner_button {
    border: none;
    border-radius: 0.2vw;
    cursor: pointer;
    font-weight: 700;
    margin-right: 1rem;
    outline: none;
    padding: 0.5rem 2rem;
    background-color: #e6e6e6;
    color: #000;
    transition: 0.2s linear;
}

.banner_button:hover {
    background-color: rgb(255, 55, 0);
    color: white;

}

.banner--fadeBottom {
    background-image: linear-gradient(180deg,
            transparent,
            rgba(37, 37, 37, 0.61),
            #111);
    height: 7.4rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* List */
.list .row {
    flex-direction: column;
    margin: 0;
}

.title {
    margin: 30px;
    margin-bottom: 0;
}

.row_posters {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px 0 20px 0;
}

.row_posters::-webkit-scrollbar {
    display: none;
}

.row_poster {
    margin-right: 10px;
    max-height: 100px;
    object-fit: contain;
    opacity: 0.8;
    transition: transform 0.45s;
    width: 100%;
}

.row_poster:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.08);
}

.row_posterLarge {
    max-height: 250px;
}

.row_posterLarge:hover {
    opacity: 1;
    transform: scale(1.09);
}